@import "tailwindcss";

.ps-btn {
  @apply font-bold py-4 px-8;
}

.ps-btn-sm {
    @apply font-bold py-2 px-4;
    font-size: 10px;
  }

.ps-btn-disabled {
  @apply bg-gray-400 text-gray-700 pointer-events-none;
}

.ps-btn-blue {
  @apply
    bg-blue-500 hover:bg-blue-700
    text-white
    border-y-4 border-blue-500 hover:border-t-blue-700 hover:border-b-orange-500;
}

.ps-textfield-label {
  @apply font-medium block;
}

.ps-textfield {
  @apply
    border-2 border-gray-500
    rounded-full
    py-2 px-4
    mt-0 mb-2
    focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

.ps-select-label {
  @apply font-medium block;
}

.ps-select {
  @apply
    border-2 border-gray-500
    rounded-full
    py-2 px-4
    mt-0 mb-2
    focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}